# Java & Maven
target/
*.class
*.jar
# Ignora la cartella .mvn tranne il wrapper properties (serve ai collaboratori)
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE files
.idea/
*.iml
.vscode/

# Node & Angular
node_modules/
dist/
.angular/

# OS files
.DS_Store
Thumbs.db

# Docker Volumes & Local Env
.env
db_data/
uploads_data/