# Java & Maven
target/
*.class
.mvn/
*.jar

# IDE files
.idea/
*.iml
.vscode/

# Node & Angular
node_modules/
dist/
.angular/

# OS files
.DS_Store
Thumbs.db

# Docker Volumes & Local Env
.env
db_data/
uploads_data/